body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html * {
  /* For Firefox */
  overflow: auto;
  scrollbar-color: #825bc0 #5e1092;
  scrollbar-width: none;
}

html *:hover {
  scrollbar-width: thin;
}

/* For Chrome and other browsers except Firefox */
html * ::-webkit-scrollbar {
    width: 0.5em;
    background-color: #5e1092;
}
html *::-webkit-scrollbar-thumb {
    background-color: #825bc0;
}